Tugas 8 IAMS.json
{
  "name": "Tugas 8 IAMS",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4fe3d73c-a8dc-488d-82dd-af2ca2cbcce2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        0
      ],
      "id": "76db05c6-91f6-40c2-8b72-219a49467b51",
      "name": "Mengambil Hasil Survei",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ambil data item saat ini\nconst feedbackText = $json.feedback;\n\n// Jika feedback kosong\nif (!feedbackText) {\n  return null;\n}\n\n// Buat prompt untuk AI\nconst prompt = `\nAnalyze this employee feedback in Indonesian:\n\"${feedbackText}\"\n\nTasks:\n1. Determine sentiment (POSITIVE, NEUTRAL, NEGATIVE).\n2. Categorize the issue (e.g., Facility, Management, Salary, Workload, Training).\n3. Suggest a quick action (max 5 words).\n\nReturn ONLY valid JSON.\n\nFormat:\n{\n  \"sentiment\": \"...\",\n  \"category\": \"...\",\n  \"action_plan\": \"...\"\n}\n`;\n\n// Return item format n8n\nreturn {\n  json: {\n    employee_id: $json.employee_id,\n    feedback: feedbackText,\n    ai_prompt: prompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "a940c9d4-11fa-4cf4-8b0f-91487936c9cf",
      "name": "menyiapkan Prompt"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HW6lUt4I2Izbq6P9sPZZ5753lX_LEhnqTWt1DXcjq8s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_id": "={{ $('Mengambil Hasil Survei').item.json.employee_id }}",
            "feedback": "={{ $('Mengambil Hasil Survei').item.json.feedback }}",
            "timestamp": "={{ $('Mengambil Hasil Survei').item.json.timestamp }}",
            "sentiment": "={{ $('Basic LLM Chain1').item.json.output.sentiment }}",
            "category": "={{ $('Basic LLM Chain1').item.json.output.category }}",
            "action_plan": "={{ $('Basic LLM Chain1').item.json.output.action_plan }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_plan",
              "displayName": "action_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        16
      ],
      "id": "c4dd50a4-2aa2-4a64-ae00-79c8b7afb460",
      "name": "Update Survei",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "id": "36bc01dc-3700-443f-a116-504ba5ec32bb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following employee feedback in Indonesian:\n\"{{ $json.feedback }}\"\n\nContext: You are a Senior HR Specialist.\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        16
      ],
      "id": "2ec99aa2-e92d-4672-9e4a-aeb1a20726a9",
      "name": "Basic LLM Chain1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"POSITIVE\",\n        \"NEUTRAL\",\n        \"NEGATIVE\"\n      ],\n      \"description\": \"The emotional tone of the feedback\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Facilities\",\n        \"Management\",\n        \"Salary\",\n        \"Workload\",\n        \"Training\",\n        \"Other\"\n      ],\n      \"description\": \"The main topic of the feedback\"\n    },\n    \"action_plan\": {\n      \"type\": \"string\",\n      \"description\": \"Short action recommendation in Indonesian\"\n    }\n  },\n  \"required\": [\n    \"sentiment\",\n    \"category\",\n    \"action_plan\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        240
      ],
      "id": "625eac0d-639b-42f6-b3fb-8729a0d5fc27",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        336
      ],
      "id": "d1fbaa30-64d0-4cce-b94e-e22a5898f4b3",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "v2hlsdoXApv4VSM7",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mengambil Hasil Survei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengambil Hasil Survei": {
      "main": [
        [
          {
            "node": "menyiapkan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menyiapkan Prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Update Survei",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b9f7e65-98e0-401b-a2dd-ebd5ce63369e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "QEfr5rBoz6y0kPNI",
  "tags": []
}