Tugas 1 IAMS.json
{
  "name": "Tugas 1 IAMS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk",
          "mode": "list",
          "cachedResultName": "Karyawan Baru",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 942553335,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk/edit#gid=942553335"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        80
      ],
      "id": "1f6ef4f7-66cc-458e-9758-cf2d1540f607",
      "name": "Sheets Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "8oLBzlxva4WhQWUM",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5894593-3665-4e63-9398-e800ca38a3c0",
              "name": "First_Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "4d578330-e730-42b8-bd15-baa2519824f6",
              "name": "Last_Name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "c7a14d19-8bc1-44be-bd70-83e9952e7a49",
              "name": "Full_Name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "77f751c2-e409-495c-a02c-ef1ee0e96d34",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "6e332eb6-dd34-45f7-955f-db72e28fe4e8",
              "name": "Start_Date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "3cacd5ef-e229-43cb-9ae7-6ce99be3184b",
              "name": "Position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        80
      ],
      "id": "c276558a-932b-481e-b495-3a2f3be2b817",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69f38faa51ecff7d65f293eb",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -48,
        80
      ],
      "id": "83dab815-b450-44c9-9450-52c6938fcec4",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "Gw5YYwFPuiaTyVh1",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk",
          "mode": "list",
          "cachedResultName": "Karyawan Baru",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 942553335,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pJNXKDPreYkC5Nio0WpRge7i17CfITGAuASSs4UBYwk/edit#gid=942553335"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        80
      ],
      "id": "8a16cd34-222f-4666-a096-a70bf34e767a",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69f38fe05f86fe1886e0de51",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        368,
        80
      ],
      "id": "42a6d8f9-ade0-45e6-86a5-616993c5d845",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "Gw5YYwFPuiaTyVh1",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheets Onboarding Karyawan').first().json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        80
      ],
      "id": "1b2c20a0-8152-4291-a092-0025d4a9f09c",
      "name": "Gabung Jadi 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n  <div style=\"max-width:600px; margin:auto; background:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 10px rgba(0,0,0,0.1);\">\n    \n    <!-- Header -->\n    <div style=\"background:linear-gradient(90deg,#4f46e5,#3b82f6); color:white; padding:20px; text-align:center;\">\n      <h2 style=\"margin:0;\">🎉 Welcome to the Team!</h2>\n    </div>\n\n    <!-- Body -->\n    <div style=\"padding:25px; color:#333;\">\n      <p style=\"font-size:16px;\">\n        Hi <b>{{ $('Sheets Onboarding Karyawan').first().json['First Name'] }} {{ $('Sheets Onboarding Karyawan').first().json['Last Name'] }}</b>,\n      </p>\n\n      <p>\n        Selamat datang di perusahaan! Kami sangat senang Anda bergabung sebagai \n        <b style=\"color:#3b82f6;\">{{ $('Sheets Onboarding Karyawan').first().json.Position }}</b> \n        mulai <b>{{ $('Sheets Onboarding Karyawan').first().json['Start Date'] }}</b>.\n      </p>\n\n      <p>Berikut daftar tugas onboarding Anda:</p>\n\n      <!-- Checklist -->\n      <ul style=\"padding-left:20px; line-height:1.8; color:#444;\">\n        <li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n      </ul>\n\n      <p>\n        Jika ada pertanyaan, jangan ragu untuk membalas email ini ya 😊\n      </p>\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background:#f1f5f9; padding:15px; text-align:center; font-size:13px; color:#666;\">\n      <p style=\"margin:0;\">Salam hangat,</p>\n      <p style=\"margin:5px 0 0;\"><b>Tim HR</b> 💼</p>\n    </div>\n\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        80
      ],
      "id": "9703e6a6-dbd2-40c5-bf8b-9def2e937226",
      "name": "Send a message",
      "webhookId": "451ec9b7-14db-41fa-bbfa-054f57f6de0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "jKDpEDMbBDduZCQz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheets Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung Jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung Jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1a9e155-702e-46a8-a11d-a66016999284",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "TBUqgkQK21LafK9C",
  "tags": []
}